<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api %>&sensor=false" type="text/javascript"></script>
  <script src="/util.js" type="text/javascript"></script>
  <script src="/flickr.js" type="text/javascript"></script>
  <script src="/rtwMap.js" type="text/javascript"></script>
<% end %>

<header>
  <h1>Backpack of Memories</h1>
</header>

<div id="content">
  <div id="map-canvas"></div>
  <div id="location-list">
    <div id="accordion">
    </div>
  </div>
</div>

<div class="hidden">
  <%= form_tag({:controller => "comments"}, :method => "post", :remote => true, :html => {:'data-type' => 'json'}) do %>
    <p>
      <%= label_tag(:name, "Name:") %>
      <%= text_field_tag(:name) %>
    </p>

    <p>
      <%= label_tag(:url, "Website:") %>
      <%= text_field_tag(:url) %>
    </p>

    <p>
      <%= label_tag(:content, "Comment:") %>
      <%= text_area_tag(:content, "", :size => "24x2") %>
    </p>

    <%= submit_tag("Submit") %>
  <% end %>
</div>
